body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-top: -12px;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    padding-top: 80px;
    box-sizing: border-box;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.form-group label {
    text-align: left;
    display: block;
    font-weight: 500;
}

.btn-block {
    width: 100%;
}
