.project-details-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1.7fr 0.7fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-top: 120px;
    align-items: start;
}

.project-main-info {
    grid-column: 1 / 2;
    max-width: 100%;
    margin-bottom: 10px;
}

.project-main-info h2 {
    margin-bottom: 10px;
}

.project-description {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.project-description-label {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.project-members {
    grid-column: 2 / 3;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
}

.add-user-form {
    margin-bottom: 15px;
}

.project-tasks {
    grid-column: 1 / 2;
    margin-top: 20px;
    margin-right: 20px;
    max-width: 100%;
}

.toggle-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.toggle-button:hover {
    background-color: #218838;
}

.members-list {
    list-style-type: none;
    padding: 0;
}

.members-list li {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-list {
    border-left: 5px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.task-list-alt {
    background-color: #f1f1f1;
}

.task-edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-edit-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.task-edit-form input,
.task-edit-form textarea,
.task-edit-form select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.filter-section {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 0;
}

.filter-section label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.filter-section select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
